<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shopping List App</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="shopping-list">

            <div class="header">
                <h1>{{header || "Welcome"}}</h1>
                <button v-if="editing" v-on:click="doEdit" class="btn btn-cancel">Cancel</button>
                <button v-else @click="doEdit" class="btn btn-primary">Add item</button>
            </div>

            <div v-if="editing" class="add-item-form">
                <input
                    @keyup.enter="saveItem" 
                    v-model.lazy="newItem" type="text" placeholder="ADD an item">
                <br>
                <label><input type="checkbox" v-model="newItemHighPriority">High priority</label>
                <br>
                <label><input type="checkbox" v-model="iceCreamFlavors" value="vanilla">Vanilla</label>
                <label><input type="checkbox" v-model="iceCreamFlavors" value="chocolate">Chocolate</label>
                <label><input type="checkbox" v-model="iceCreamFlavors" value="mango">Mango</label>
                <label><input type="checkbox" v-model="iceCreamFlavors" value="Banana">Banana</label>
                <br>
                <button 
                    v-on:click="saveItem" 
                    class="btn btn-primary">
                    Save it
                </button>
            </div>
            <ul>
                <li v-for="item in items" :key="item.id">{{item.label}}</li>
            </ul>
            <p v-if="items.length === 0">WELL DONE, YOU ARE THE WORK MONSTER!!! U2UUAUWA!</p>
        </div>
        <script src="https://unpkg.com/vue@3"></script>
        <script>
            const shoppingList = Vue.createApp({
                data() {
                    return {
                        header: "Vue si ready to party",
                        editing: false,
                        newItem: '',
                        newItemHighPriority: false,
                        iceCreamFlavors: [],
                        items: [
                            {id: 1, label:"10 party hats"},
                            {id: 2, label:"2 broad games"},
                            {id: 3, label:"30 cups"}
                        ]
                    }
                },
                methods: {
                    saveItem() {
                        this.items.push({id:this.items.length + 1, label: this.newItem})
                        this.newItem = ""
                    },

                    doEdit() {
                        this.editing = !this.editing
                        this.newItem = ""
                    }
                }
            }).mount('#shopping-list')
        </script>
    </body>
</html>